.arrow-4 {
  cursor: pointer;
  flex: 0 1 20%;
  position: relative;
}

.arrow-4-left {
  position: absolute;
  background-attachment: transparent;
  top: 40%;
  left: 50%;
  width: 20px;
  height: 5px;
  display: block;
  transform: rotate(35deg);
  border-radius: 2px;
}
.arrow-4-left:after {
  content: "";
  background: gray;
  width: 20px;
  height: 5px;
  display: block;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.arrow-4-right {
  position: absolute;
  background-color: transparent;
  top: 40%;
  left: 22%;
  width: 20px;
  height: 5px;
  display: block;
  transform: rotate(-35deg);
  border-radius: 2px;
}
.arrow-4-right:after {
  content: "";
  background-color: gray;
  width: 20px;
  height: 5px;
  display: block;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.open .arrow-4-left:after {
  transform-origin: center center;
  transform: rotate(-70deg);
}
.open .arrow-4-right:after {
  transform-origin: center center;
  transform: rotate(70deg);
}

li.body__list-item:hover {
  .arrow-4-left:after {
    transform-origin: center center;
    transform: rotate(-70deg);
  }
  .arrow-4-right:after {
    transform-origin: center center;
    transform: rotate(70deg);
  }
}